<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <style>
        div {width:100%;height: 100px;background-color: blue; color: white;}
        button {width: 200px; height: 40px; background-color: blue;color: white;}
    </style>
    <meta charset="UTF-8">
    <script type = "text/javascript" src="functions.js"></script>
    <title>Holden Endres</title> -->
</head>
<div><h1>Test</h1></div>
<!-- <body style="background-color: aliceblue;color:blue;">
    <h1>Test</h1>
    <h2>Welcome to my website!</h2>
    <p>I'm Holden, an undergraduate student at SUNY UB with a passion for fullstack web design and ...</p>
    <button type="button">Take Me to Test</button>
    <br><hr>
    <small><b>Contact Info:</b><br>holdenen@buffalo.edu<br>@holden.endres</small>
</body> -->
</html>