<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - Jesse's 312 Casino</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link href="/public/style.css" rel="stylesheet">
    <!-- ^^^^^  use this instead of the <style> tag. that has been moved to public/style.css !! -->
</head>
<body>
<div class="top-right">
    <button class="button" onclick="goHome()">Home</button>
    <button class="button">Settings</button>
</div>

<div class="container">
    <h1>Register</h1>
    <form action="register_form">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm">Confirm Password</label>
        <input type="password" id="confirm" name="confirm" required>

        <button class="button" type="button" onclick="registerUser()">Register</button>
    </form>

    <div class="login-link">
        Already have an account? <a href="/login">Login here</a>
    </div>
</div>

<script>
    function goHome() {
        window.location.href = "/";
    }

    function registerUser() {
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        const confirm = document.getElementById("confirm").value;

        if (password !== confirm) {
            alert("Passwords do not match!");
            return;
        }

        let request = new Request ('register_data', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({username, password})
        })
        fetch(request).then(function(response) {
                if (response.status == 200) {
                    window.location.href = "/login";
                } else {
                    console.log("register failed, " + response.body);
                }
        });
    }
</script>
</body>
</html>
